body {
    background-color:aliceblue;
}

.highlight {
    background-color:rgb(217, 217, 146);
    border-radius: 5px;
    padding: 5px;
}

.p5Thumbnail {
    width: 100px;
    height: 100px;
}

.p5script {
    margin: 0 auto; /* Center the element horizontally */
    display: block; /* Ensure the element is displayed as a block */
    width: 100%; /* Adjust the width as needed */
}
