body {
    background-color:aliceblue;
}

.highlight {
    background-color:rgb(217, 217, 146);
    border-radius: 5px;
    padding: 5px;
}

.p5-thumbnails-container {
    text-align: center;
}
.p5-thumbnail {
    display: inline-block; /* Display thumbnails as inline-block elements */
    margin: 10px; /* Adjust margin between thumbnails */
    text-align: center; /* Center the text caption */
    text-decoration: none; /* Remove underline from links */
    color: black; /* Set text color */
}
.p5-thumbnail img {
    width: 135px; /* Adjust thumbnail width */
    margin: auto auto 15px auto; /*Centers thumbnail image with caption spacing below */
    height: auto; /* Maintain aspect ratio */
    display: block; /* Ensure image is displayed as a block */
}
canvas {
    display: block;
    margin: auto;
}
