html, body {
  display: flex;
  flex-flow: column wrap;
  margin: 0;
  padding: 0;
  align-items: center;
  justify-content: start;

}

canvas {
  display: block;
}

.control_panel {
  display: flex;
  flex-flow: column wrap;
  height: 12em;
  width: 25em;
}
.control_panel > button {
  width: fit-content;
  margin: .5em 0 .5em 0;
}
#slow_panel {
  display: flex;
  flex-flow: row;
  height: fit-content;
  align-items: start;
}
.warning {
  color: red;
  font-weight: bold;
}
#color_mode {
  display: flex;
  flex-flow: row;
  height: fit-content;
  align-items: start;
}
#color_selector {
  width: fit-content;
  margin: 0 0 .5em 0;
}

#slow_panel > * {
  margin-right: 1em;
}
#timeout {
  color: red;
  font-weight: bold;
}
input[type='text'] {
  width: 3em;
}
