html, body {
  display: flex;
  flex-flow: column wrap;
  margin: 0;
  padding: 0;
  align-items: center;
  justify-content: start;

}

canvas {
  display: block;
}

.control_panel {
  display: flex;
  flex-flow: column wrap;

}

#timeout {
  color: red;
  font-weight: bold;
  
}
input[type='text'] {
  width: 3em;
}
