html, body {
  margin: 0;
  padding: 0;
  display: flex;
  align-items: center;
  flex-flow: column wrap; 
  justify-content: center;
}
canvas {
  display: block;
}

main {
  display: flex;
  align-items: flex-start;
}

input[type='text'] {
  width: 3em;
}
