
body {
    display: flex;
    flex-flow: column;
    background-color: #444444;
    align-items: center;
    color: #ffffff;
}
main {
    display: flex;
    flex-flow: column;
    align-items: center;
}
select {
    width: fit-content;
}
#controls {
    display: flex;
    flex-flow: column;
    align-items: left;
    margin-top: 1em;
    width: 85%;
}
#controls > * {
    margin: .2em 0 .2em 0;
}
.paddle-slider {
    flex-grow: 1;
}
.slider {
    display: flex;
    flex-flow:row nowrap;
    width: 100%;
}
