body {
  display: flex;
  margin: 0;
  justify-content: center;
}
main {
  margin: 0;
  padding: 0;
  display: flex;
  width: 100%;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
canvas {
  display: block;
}
#canvas-box {
  display: flex;
  margin-top: 1em;
  align-items: center;
  margin: .0 0 .5em 0;
}
#controls-box {
  width: 80vw;
  align-items: left;
}
#controls {
  display: flex;
  flex-flow: column wrap;
}
.slider-container {
  display: flex;
  flex-flow: row nowrap;
}
.slider-label{
  min-width: 110px;
}
input[type="range"] {
  flex-grow: 1;
}
.select-label {
  margin-right: .5em;
}
#controls-top-row {
  display: flex;
  flex-flow: row;
}
#controls-top-row > * {
  margin: 0 .5em 0 0;
}

#reflection-checkbox-container {
  display: flex;
}