body {
    display: flex;
    flex-flow: column;
    align-items: center;
}
select {
    width: fit-content;
}
#controls {
    display: flex;
    flex-flow: column;
    justify-content: center;
    align-items: center;
    margin-top: 1em;
}
.paddle-slider {
    width: 100%;
}