html, body {
  margin: 0;
  padding: 0;
  background-color: #999;
}
canvas {
  display: block;
}

main {
  margin: 0;
  padding: 0;
  display: flex;
  width: 100%;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
#canvas-box {
  align-items: center;
}
#players {
  display: flex;
  flex-flow: column wrap;
  height: 100px;
  min-width: 250px;
  /* margin: 0, 5, 0, 5; */
}
.score-button {
  margin-right: .5em;
}
.player {
  display: flex;
  justify-content: center;
  margin: .2em;
  min-height: 22px;
}
.hidden {
  display: none;
}